/* style.css */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('https://source.unsplash.com/weekly?water');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sidebar .sidebar-content {
    background: rgba(255, 255, 255, 0.8);
}

.stAudio {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.stFileUploader {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.stButton > button {
    color: #fff;
    border-radius: 20px;
    border: 1px solid #09ab3b;
    background-color: #09ab3b;
    padding: 10px 24px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

.css-1d391kg {
    padding-top: 3rem;
    padding-bottom: 5rem;
}